{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/portfolio.js')}}" defer></script>
{% endblock %}

{% block body %}

<h3>Portfolio Values for {{name}}:</h3>
<h3>Index = {{index}} </h3>

{% if portfolio_symbols == [] %}
    Portfolio is empty. Please add stocks to portfolio to show them here.
{% else %}
<ul class="portfolio">
    {% for symbol in portfolio_symbols %}
    <li class="portfolio-item">
        {{ symbol }}
        <input type="number" class="portfolio-quantity-input" value="1" />
        <button type="button" class="portfolio-remove-btn">Remove</button>
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="portfolio-total">
    <strong>Total</strong>
    <span class="portfolio-total-price">0</span>
    <button class="portfolio-buy-btn" type="button">BUY</button>
</div>
{% endblock %}



